@font-face {
  font-family: 'KoHo';
  src: url("../docs/font/KoHo/KoHo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-weight: bold;
  src: url("../docs/font/KoHo/KoHo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-weight: 600;
  src: url("../docs/font/KoHo/KoHo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-style: italic;
  src: url("../docs/font/KoHo/KoHo-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway';
  src: url("../docs/font/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway';
  font-style: 600;
  src: url("../docs/font/Raleway/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Teko';
  src: url("../docs/font/Teko/Teko-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Cairo';
  font-weight: normal;
  src: url("../docs/font/Cairo/Cairo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Cairo';
  font-weight: 600;
  src: url("../docs/font/Cairo/Cairo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Saira';
  font-weight: normal;
  src: url("../docs/font/Saira/SairaCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'PTSans';
  font-weight: normal;
  src: url("../docs/font/PTSans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Titillium';
  font-weight: normal;
  src: url("../docs/font/Titillium/TitilliumWeb-Regular.ttf") format("truetype");
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@-webkit-keyframes jumpHover {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, -7.5px);
            transform: translate(0px, -7.5px);
  }
}

@keyframes jumpHover {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, -7.5px);
            transform: translate(0px, -7.5px);
  }
}

@-webkit-keyframes grow {
  from {
    font-size: 2.0rem;
    padding: 15px;
    width: 225px;
  }
  to {
    font-size: 2.3rem;
    padding: 18px;
    width: 250px;
  }
}

@keyframes grow {
  from {
    font-size: 2.0rem;
    padding: 15px;
    width: 225px;
  }
  to {
    font-size: 2.3rem;
    padding: 18px;
    width: 250px;
  }
}

* {
  font-family: "Titillium", "Source", "Cairo", "PTSans", "Saira", "KoHo", "Arial";
  padding: 0;
  margin: 0;
  text-decoration: none;
}

*::-moz-selection {
  background-color: #DEE1E6;
}

*::selection {
  background-color: #DEE1E6;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #17141D;
  color: #f5f5f5;
  -webkit-animation: apparition 1s linear 0s forwards;
          animation: apparition 1s linear 0s forwards;
}

h1 {
  font-family: 'Teko';
}

header {
  width: 100%;
  background-color: #100E17;
  text-align: right;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: 100;
}

header img {
  position: absolute;
  width: 50px;
  margin-top: 10px;
  left: 10%;
}

header img:hover {
  cursor: pointer;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

header::after {
  content: "";
  background: linear-gradient(135deg, #FF5711, #E52F6F);
  position: fixed;
  top: 65px;
  height: 10px;
  width: 100%;
  z-index: 100;
  display: block;
}

header .menu {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10%;
  padding: 2px;
}

header .menu--text {
  font-family: 'Titillium', 'Raleway';
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: whitesmoke;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

header .menu--text:hover {
  background-color: #100E17;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-page, .contact-page, .works-page, .skills-page {
  padding: 10%;
  padding-top: 7.5%;
  padding-bottom: 5%;
}

.about-page .presentation h1, .about-page .presentation h2 {
  font-family: 'Titillium';
  background: -webkit-gradient(linear, left top, left bottom, from(#FF5711), to(#E52F6F));
  background: linear-gradient(#FF5711, #E52F6F);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-page .presentation h1 {
  font-size: 6.0rem;
}

.about-page .presentation h2 {
  font-size: 4.2rem;
  font-weight: 600;
}

.about-page .presentation img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 45px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 25px;
  border-radius: 3px;
}

.about-page .description {
  padding-top: 5%;
}

.about-page .description div {
  max-width: 100%;
}

.about-page .description--text {
  font-weight: normal;
  font-size: 2.1rem;
  line-height: 4.0rem;
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: justify;
}

.about-page .description--text a {
  color: #FF5711;
}

.about-page .description img {
  width: 25%;
  height: 25%;
  max-width: 525px;
  float: right;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.skills-page, .works-page, .contact-page {
  text-align: center;
  position: relative;
}

.skills-page h1, .works-page h1, .contact-page h1 {
  font-size: 4rem;
}

.skills-page h2, .works-page h2, .contact-page h2 {
  font-family: 'Saira';
  font-size: 1.9rem;
  font-weight: normal;
  display: block;
  margin-top: 15px;
}

.skills-page::before, .works-page::before, .contact-page::before {
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(135deg, #FF5711, #E52F6F);
  z-index: 10;
  position: absolute;
  left: 0;
  margin-top: -5%;
}

.skills-page .skills-box {
  margin-top: 2.5%;
  padding-left: 20%;
  padding-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-page .skills-box .skill {
  width: 376px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: left;
}

.skills-page .skills-box .skill h2 {
  font-weight: normal;
  font-size: 2.0rem;
}

.skills-page .skills-box .skill__progress-bar {
  width: 100%;
  height: 20px;
  background-color: #312D3C;
  margin-top: 10px;
  position: relative;
  border-radius: 3px;
}

.skills-page .skills-box .skill__progress-bar::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 20px;
  background: linear-gradient(135deg, #FF5711, #E52F6F);
  border-radius: 3px;
  z-index: 2;
}

.works-page .timeline {
  margin-top: 2.5%;
  padding-left: 20%;
  padding-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-page .timeline__box {
  width: 265px;
  height: 265px;
  background-color: #100E17;
  border-radius: 5px;
  display: block;
  margin: 2%;
}

.works-page .timeline__box:hover {
  -webkit-animation: jumpHover 0.3s forwards;
          animation: jumpHover 0.3s forwards;
  cursor: pointer;
}

.works-page .timeline__box img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: relative;
  width: 85px;
  margin: auto;
  top: 32.5%;
}

.contact-page .contact__field {
  margin: auto;
  margin-top: 2.5%;
  padding: 3.5%;
  width: 400px;
  background-color: #100E17;
  color: #f5f5f5;
  border-radius: 5px;
}

.contact-page .contact__field--input, .contact-page .contact__field--textarea {
  font-size: 2.0rem;
  padding: 10px;
  border-radius: 5px;
  background-color: #201C29;
  color: #f5f5f5;
  border: 2px solid #312D3C;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 4%;
  width: 375px;
}

.contact-page .contact__field--input::-webkit-input-placeholder, .contact-page .contact__field--textarea::-webkit-input-placeholder {
  color: #909090;
}

.contact-page .contact__field--input:-ms-input-placeholder, .contact-page .contact__field--textarea:-ms-input-placeholder {
  color: #909090;
}

.contact-page .contact__field--input::-ms-input-placeholder, .contact-page .contact__field--textarea::-ms-input-placeholder {
  color: #909090;
}

.contact-page .contact__field--input::placeholder, .contact-page .contact__field--textarea::placeholder {
  color: #909090;
}

.contact-page .contact__field--input:focus, .contact-page .contact__field--textarea:focus {
  outline: none !important;
  border: 2px solid #E52F6F;
}

.contact-page .contact__field--textarea {
  height: 200px;
}

.contact-page .contact__field [type="submit"] {
  font-family: "Raleway", "Cairo";
  font-size: 2.0rem;
  padding: 15px;
  width: 225px;
  font-weight: 600;
  background: linear-gradient(135deg, #E6336A, #FF5711);
  color: #f5f5f5;
  border-radius: 5px;
  border: none;
}

.contact-page .contact__field [type="submit"]:hover {
  cursor: pointer;
  -webkit-animation: grow 1s forwards;
          animation: grow 1s forwards;
}

.contact-page .contact__field p {
  font-size: 1.5rem;
  color: #4CFF4C;
  display: block;
  margin-top: 5%;
}

footer {
  margin-top: 5%;
  background-color: #100E17;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

footer h1 {
  font-size: 3rem;
}

footer .field-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .field-footer__contact, footer .field-footer__informations {
  width: 49%;
  min-width: 370px;
  font-size: 1.8rem;
  text-align: left;
  color: #f5f5f5;
  padding-left: 1%;
}

footer .field-footer__contact img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 45px;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 25px;
}

footer .field-footer__informations img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 25px;
  float: left;
  margin-right: 25px;
}

footer .field-footer__informations span {
  display: block;
}

footer em {
  font-size: 2.0rem;
  font-style: normal;
  color: #f5f5f5;
  margin: auto;
  margin-top: 5%;
  display: block;
}
/*# sourceMappingURL=style.css.map */