/* =========================== */
/* ========== FONTS ========== */
/* =========================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@font-face {
  font-family: "Segoe UI";
  font-weight: 500;
  src: url("../font/Segoe UI/segoeui.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: url("../font/Segoe UI/seguisb.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: url("../font/Segoe UI/segoeuib.ttf") format("truetype");
}

/* ============================ */
/* ========== COLORS ========== */
/* ============================ */
:root {
  --primary-black-1: #1F1E1D;
  --primary-black-2: #111;
  --primary-gray: #f2f2f2;
  --primary-white: #fff;
  --primary-orange: #F84525;
  --second-black-1: #272628;
  --second-black-2: #323135;
  --second-black-3: #60606080;
  --second-gray: #9C9C9C;
  --shadow-black: #000;
  --shadow-white: #cecece;
  --selection-color: #DEE1E6;
}

/* ================================ */
/* ========== ANIMATIONS ========== */
/* ================================ */
@-webkit-keyframes fadeIn {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade {
  -webkit-animation: fadeIn 1s ease-out;
          animation: fadeIn 1s ease-out;
  opacity: 1;
}

.fade-in {
  -webkit-animation: fadeIn .6s ease-out;
          animation: fadeIn .6s ease-out;
  opacity: 1;
}

.fade-out {
  -webkit-animation: fadeOut .6s ease-out;
          animation: fadeOut .6s ease-out;
  opacity: 0;
}

@-webkit-keyframes slideLeftIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    opacity: .2;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideLeftIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    opacity: .2;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slide-left-out {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  opacity: 0;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

@-webkit-keyframes slideInMenuLabel {
  from {
    -webkit-transform: rotate(-90deg) translate3d(100px, 0, 0);
            transform: rotate(-90deg) translate3d(100px, 0, 0);
    opacity: .2;
  }
  to {
    -webkit-transform: rotate(-90deg) translate3d(0, 0, 0);
            transform: rotate(-90deg) translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInMenuLabel {
  from {
    -webkit-transform: rotate(-90deg) translate3d(100px, 0, 0);
            transform: rotate(-90deg) translate3d(100px, 0, 0);
    opacity: .2;
  }
  to {
    -webkit-transform: rotate(-90deg) translate3d(0, 0, 0);
            transform: rotate(-90deg) translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes slideOutMenuLabel {
  from {
    -webkit-transform: rotate(-90deg) translate3d(0, 0, 0);
            transform: rotate(-90deg) translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-90deg) translate3d(100px, 0, 0);
            transform: rotate(-90deg) translate3d(100px, 0, 0);
    opacity: 0;
  }
}

@keyframes slideOutMenuLabel {
  from {
    -webkit-transform: rotate(-90deg) translate3d(0, 0, 0);
            transform: rotate(-90deg) translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-90deg) translate3d(100px, 0, 0);
            transform: rotate(-90deg) translate3d(100px, 0, 0);
    opacity: 0;
  }
}

.slide-out-menu-label {
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
  opacity: 0;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

@-webkit-keyframes slideDownIn {
  from {
    visibility: hidden;
    opacity: 0.2;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideDownIn {
  from {
    visibility: hidden;
    opacity: 0.2;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes boxSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes boxSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.box-slide-out {
  opacity: 0.1;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease;
  transition: transform 0.4s ease-out, opacity 0.4s ease, -webkit-transform 0.4s ease-out;
}

@-webkit-keyframes progressBarLoad {
  from {
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }
}

@keyframes progressBarLoad {
  from {
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }
}

@-webkit-keyframes scrollFall {
  0%, 10% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  25%, 50%, 75% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  90%, 100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes scrollFall {
  0%, 10% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  25%, 50%, 75% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  90%, 100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

/* ============================ */
/* ========== MIXINS ========== */
/* ============================ */
/* ==================================== */
/* ========== GLOBAL CUSTOM  ========== */
/* ==================================== */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  display: none;
}

* {
  font-family: "Segoe UI";
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--selection-color);
}

*::selection {
  background-color: var(--selection-color);
}

* img {
  max-width: 100%;
}

* a {
  color: var(--primary-white);
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px */
  scroll-behavior: smooth;
  /* scrollbar smooth */
  overflow-x: hidden;
}

body {
  -webkit-animation: fadeIn 1s linear 0s forwards;
          animation: fadeIn 1s linear 0s forwards;
}

/* =============================== */
/* ========== MAIN CODE ========== */
/* =============================== */
/* ---------- light / dark page ---------- */
.dark-page {
  background-color: var(--primary-black-1);
  color: var(--primary-white);
}

.light-page {
  background-color: var(--primary-white);
  color: var(--primary-black-2);
}

/* ---------- reveal on scroll animations ---------- */
.reveal [class*="reveal-"] {
  opacity: 0 !important;
  -webkit-transform: translateY(30px) !important;
          transform: translateY(30px) !important;
}

[class*="reveal-"] {
  -webkit-transition: 0.8s cubic-bezier(0.5, 0, 0, 1);
  transition: 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-1 {
  -webkit-transition-delay: calc(1s * 0.1);
          transition-delay: calc(1s * 0.1);
}

.reveal-2 {
  -webkit-transition-delay: calc(2s * 0.1);
          transition-delay: calc(2s * 0.1);
}

.reveal-3 {
  -webkit-transition-delay: calc(3s * 0.1);
          transition-delay: calc(3s * 0.1);
}

.reveal-4 {
  -webkit-transition-delay: calc(4s * 0.1);
          transition-delay: calc(4s * 0.1);
}

.reveal-5 {
  -webkit-transition-delay: calc(5s * 0.1);
          transition-delay: calc(5s * 0.1);
}

.reveal-6 {
  -webkit-transition-delay: calc(6s * 0.1);
          transition-delay: calc(6s * 0.1);
}

.reveal-7 {
  -webkit-transition-delay: calc(7s * 0.1);
          transition-delay: calc(7s * 0.1);
}

/* ========== MENU ========== */
.explore {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-white);
  letter-spacing: 2px;
  text-transform: uppercase;
  position: fixed;
  top: calc(5% + 1.4rem);
  right: 125px;
  display: block;
  z-index: 10;
}

.explore::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: var(--primary-white);
}

@media screen and (max-width: 500px) {
  .explore {
    right: 85px;
  }
}

@-webkit-keyframes slideOutAndIn {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes slideOutAndIn {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

.hamburger-icon {
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  top: 5%;
  right: 50px;
  background-color: var(--primary-white);
  padding: 12.5px;
  border-radius: 100%;
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
}

.hamburger-icon .bar1, .hamburger-icon .bar2, .hamburger-icon .bar3 {
  width: 25px;
  height: 2px;
  margin: 5px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--primary-black-2);
}

.hamburger-icon .bar2 {
  width: 15px;
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .hamburger-icon {
    right: 3.5%;
  }
}

/* animation hamburger icon on click */
.change .bar1 {
  -webkit-transform: translate3d(2.5px, 7px, 0) rotate(45deg);
          transform: translate3d(2.5px, 7px, 0) rotate(45deg);
  width: 20px;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translate3d(2.5px, -7px, 0) rotate(-45deg);
          transform: translate3d(2.5px, -7px, 0) rotate(-45deg);
  width: 20px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-black-1);
  z-index: 5;
  display: none;
}

.menu .container-menu {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .container-menu .label-menu {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-white);
  letter-spacing: 3px;
  text-transform: none;
  margin: -62.5px 25px;
  display: block;
  -webkit-animation: slideInMenuLabel 0.5s ease 0s forwards;
          animation: slideInMenuLabel 0.5s ease 0s forwards;
}

.menu .container-menu .menu--text {
  font-size: 6.5rem;
  font-weight: 700;
  color: var(--primary-white);
  letter-spacing: 5px;
  text-transform: none;
  margin: 10px 0 0 100px;
  -webkit-animation: slideLeftIn 0.5s ease 0s;
          animation: slideLeftIn 0.5s ease 0s;
  cursor: pointer;
}

.menu .container-menu .menu--text::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  margin-top: 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: var(--primary-white);
}

.menu .container-menu .menu--text:hover::after, .menu .container-menu .menu--text:active::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (max-width: 767px) {
  .menu .container-menu .label-menu {
    font-size: 1rem;
    letter-spacing: 2px;
    margin: -42.5px 7.5px;
  }
  .menu .container-menu .menu--text {
    font-size: 3.8rem;
    margin-left: 45px;
  }
}

/* ========== CURSOR ========== */
.cursor, .cursor--inner {
  position: fixed;
  width: 45px;
  height: 45px;
  border: 1.25px solid var(--second-black-3);
  border-radius: 50%;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  margin-top: -22.5px;
  margin-left: -22.5px;
  z-index: 10000;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .cursor, .cursor--inner {
    display: none;
  }
}

.cursor--inner {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2.5px;
  margin-left: -2.5px;
  border: none;
  background-color: var(--primary-orange);
}

.cursor-focus {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--second-black-3);
  opacity: .75;
  z-index: 9999;
  margin-top: -35px;
  margin-left: -35px;
  border: none;
}

/* ========== PROGRESS BAR ========== */
#progress {
  width: 4px;
  height: 0px;
  max-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--primary-orange);
}

@media screen and (max-width: 767px) {
  #progress {
    display: none;
  }
}

/* ========== LABEL SCROLL ========== */
.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  bottom: 10%;
  right: 45px;
  z-index: 10;
}

.scroll--container {
  width: 65px;
  height: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-bottom: 100%;
  overflow: hidden;
}

.scroll--container .scroll--line {
  width: 65px;
  height: 1px;
  margin: auto;
  background-color: var(--primary-white);
  -webkit-animation: scrollFall 10s ease infinite;
          animation: scrollFall 10s ease infinite;
}

.scroll--label {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-white);
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 500px) {
  .scroll {
    right: 0px;
  }
}

.about-page, .skills-page, .works-page, .contact-page, footer {
  padding: 7.5%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.about-page .about-section, .about-page .skills-section, .about-page .works-section, .about-page .contact-section, .about-page .footer-section, .skills-page .about-section, .skills-page .skills-section, .skills-page .works-section, .skills-page .contact-section, .skills-page .footer-section, .works-page .about-section, .works-page .skills-section, .works-page .works-section, .works-page .contact-section, .works-page .footer-section, .contact-page .about-section, .contact-page .skills-section, .contact-page .works-section, .contact-page .contact-section, .contact-page .footer-section, footer .about-section, footer .skills-section, footer .works-section, footer .contact-section, footer .footer-section {
  margin: auto;
  padding: 0 5%;
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
}

@media screen and (max-width: 500px) {
  .about-page, .skills-page, .works-page, .contact-page, footer {
    padding: 5%;
  }
  .about-page .about-section, .about-page .skills-section, .about-page .works-section, .about-page .contact-section, .about-page .footer-section, .skills-page .about-section, .skills-page .skills-section, .skills-page .works-section, .skills-page .contact-section, .skills-page .footer-section, .works-page .about-section, .works-page .skills-section, .works-page .works-section, .works-page .contact-section, .works-page .footer-section, .contact-page .about-section, .contact-page .skills-section, .contact-page .works-section, .contact-page .contact-section, .contact-page .footer-section, footer .about-section, footer .skills-section, footer .works-section, footer .contact-section, footer .footer-section {
    padding: 0;
  }
}

.skills-page h1, .works-page h1, .contact-page h1 {
  font-size: 4.75rem;
}

.skills-page h2, .works-page h2, .contact-page h2 {
  font-size: 2rem;
  font-weight: 500;
  color: none;
  letter-spacing: none;
  text-transform: none;
  display: block;
  margin-top: 15px;
}

@media screen and (max-width: 1100px) {
  .skills-page, .works-page, .contact-page {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 767px) {
  .skills-page, .works-page, .contact-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .skills-page h1, .works-page h1, .contact-page h1 {
    font-size: 3.5rem;
  }
  .skills-page h2, .works-page h2, .contact-page h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 500px) {
  .skills-page, .works-page, .contact-page {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills-page h1, .works-page h1, .contact-page h1 {
    font-size: 3rem;
  }
  .skills-page h2, .works-page h2, .contact-page h2 {
    font-size: 1.5rem;
  }
}

/* ========== ABOUT PAGE ========== */
.about-section {
  /* ----- svg decorations ----- */
  /* ----- name area ----- */
  /* ----- presentation area ----- */
  /* ----- description area ----- */
}

.about-section .svg-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.about-section .svg-container .svg-circle {
  position: absolute;
  right: 3.5%;
  width: 125vh;
  height: 125vh;
}

.about-section .svg-container .m-decoration, .about-section .svg-container .t-decoration {
  position: absolute;
  left: 55%;
  top: 50%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Roboto';
  font-size: calc(10rem + 40vh);
  font-weight: 900;
  color: var(--second-black-1);
  letter-spacing: none;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .about-section .svg-container .m-decoration, .about-section .svg-container .t-decoration {
    font-size: calc(5rem + 30vh);
  }
}

.about-section .svg-container .m-decoration {
  -webkit-transform: translate(0, -90%);
          transform: translate(0, -90%);
}

.about-section .svg-container .t-decoration {
  -webkit-transform: translate(20%, -10%);
          transform: translate(20%, -10%);
}

.about-section .title-name {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-orange);
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-left: -30px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .about-section .title-name {
    font-size: 1.5rem;
    letter-spacing: 3.5px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .about-section .title-name {
    font-size: 1.4rem;
  }
}

.about-section .presentation {
  z-index: 1;
}

.about-section .presentation h1 {
  font-size: 7.2rem;
}

@media screen and (max-width: 1100px) {
  .about-section .presentation h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .about-section .presentation h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .about-section .presentation h1 {
    font-size: 3.3rem;
  }
}

.about-section .description {
  margin-top: 35px;
  max-width: 50%;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .about-section .description {
    max-width: 85%;
  }
}

.about-section .description p {
  font-size: 2rem;
  line-height: 3.2rem;
}

@media screen and (max-width: 1100px) {
  .about-section .description p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .about-section .description p {
    font-size: 1.55rem;
    line-height: 2.75rem;
  }
}

.about-section .description a {
  width: 250px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-white);
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3.2rem;
  display: block;
  margin-top: 60px;
  margin-left: 22.5px;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.about-section .description a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -22.5px;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background-color: var(--second-black-2);
  z-index: -1;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.about-section .description a:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 285px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media screen and (max-width: 767px) {
  .about-section .description a {
    width: 190px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-white);
    letter-spacing: 1.5px;
    text-transform: none;
    line-height: 2.85rem;
    margin-top: 50px;
  }
  .about-section .description a::before {
    bottom: -9px;
    left: -17.5px;
    width: 45px;
    height: 45px;
  }
  .about-section .description a:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    width: 215px;
  }
}

@media screen and (max-width: 500px) {
  .about-section {
    padding: 0;
  }
}

/* ========== SKILLS PAGE ========== */
.skills-box {
  margin-top: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 650px) {
  .skills-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills-box .skill {
  width: 45%;
  margin-bottom: 45px;
  padding: 0px;
}

@media all and (max-width: 650px) {
  .skills-box .skill {
    width: 100%;
  }
}

.skills-box .skill h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-black-2);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .skills-box .skill h2 {
    font-size: 1.75rem;
  }
}

.skills-box .skill__progress-bar {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 1px var(--shadow-white);
          box-shadow: 0px 0px 5px 1px var(--shadow-white);
}

@media screen and (max-width: 767px) {
  .skills-box .skill__progress-bar {
    height: 20px;
  }
}

.skills-box .skill__progress-bar h3 {
  position: absolute;
  bottom: 170%;
  right: 0%;
  font-size: 1.8rem;
}

.skills-box .skill__progress-bar .skill-bar {
  height: 25px;
  position: absolute;
  background: var(--second-black-1);
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: progressBarLoad 1.5s ease 0s forwards;
          animation: progressBarLoad 1.5s ease 0s forwards;
  -webkit-box-shadow: 0px 0px 5px 1px var(--shadow-white);
          box-shadow: 0px 0px 5px 1px var(--shadow-white);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .skills-box .skill__progress-bar .skill-bar {
    height: 20px;
  }
}

.skills-box .skill__progress-bar .skill-bar::after {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, var(--second-black-1), var(--primary-orange));
}

/* ========== WORKS PAGE ========== */
/* ----- timeline area ----- */
.timeline {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* ----- work box ----- */
}

@media screen and (max-width: 767px) {
  .timeline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.timeline__box {
  margin: 5% 0;
  width: 45%;
  background-color: var(--second-black-1);
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  -webkit-box-shadow: 0px 0px 5px 2px var(--shadow-black);
          box-shadow: 0px 0px 5px 2px var(--shadow-black);
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .timeline__box {
    width: 100%;
  }
}

.timeline__box::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.timeline__box:hover {
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  background-color: var(--primary-orange);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.timeline__box--content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeline__box--content img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  max-height: 85px;
  max-width: 150px;
}

.timeline__box--content h1 {
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--primary-white);
  letter-spacing: none;
  text-transform: none;
  display: block;
  margin-top: 10px;
  -webkit-animation: none;
          animation: none;
}

@media screen and (max-width: 767px) {
  .timeline__box--content h1 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 500px) {
  .timeline__box--content h1 {
    font-size: 1.9rem;
  }
}

.timeline .modal-window {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75);
  /* Black w/ opacity */
  /* Modal Content */
}

.timeline .modal-window .work-window {
  width: 75%;
  max-height: 95%;
  margin: auto;
  background-color: var(--primary-black-1);
  text-align: left;
  -webkit-animation: boxSlideIn 0.4s ease-out 0s;
          animation: boxSlideIn 0.4s ease-out 0s;
  overflow-y: auto;
}

@media screen and (max-width: 1100px) {
  .timeline .modal-window .work-window {
    width: 90%;
    max-height: 80%;
  }
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window {
    width: 97.5%;
    max-height: 80%;
  }
}

@media screen and (max-width: 500px) {
  .timeline .modal-window .work-window {
    width: 99.5%;
    max-height: 75%;
  }
}

.timeline .modal-window .work-window__header {
  padding: 50px 50px 0;
}

@media screen and (max-width: 1100px) {
  .timeline .modal-window .work-window__header {
    padding: 40px 40px 0px;
  }
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__header {
    padding: 30px 30px 0px;
  }
}

@media screen and (max-width: 500px) {
  .timeline .modal-window .work-window__header {
    padding: 22.5px 22.5px 0px;
  }
}

.timeline .modal-window .work-window__header--title {
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary-white);
  letter-spacing: none;
  text-transform: none;
  -webkit-animation: none;
          animation: none;
}

@media screen and (max-width: 1100px) {
  .timeline .modal-window .work-window__header--title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__header--title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .timeline .modal-window .work-window__header--title {
    font-size: 3rem;
  }
}

.timeline .modal-window .work-window__header--subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-orange);
  letter-spacing: 0;
  text-transform: 0;
  display: block;
  margin: 10px 0 15px;
  -webkit-animation: none;
          animation: none;
}

@media screen and (max-width: 1100px) {
  .timeline .modal-window .work-window__header--subtitle {
    font-size: 1.5rem;
  }
}

.timeline .modal-window .work-window__header--language {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary-white);
  letter-spacing: none;
  text-transform: uppercase;
  background-color: var(--second-black-2);
  display: inline-block;
  border-radius: 4px;
  padding: 5px 8px;
  margin-top: 3px;
  margin-right: 5px;
}

.timeline .modal-window .work-window__header--date {
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--primary-white);
  letter-spacing: none;
  text-transform: none;
  line-height: 1.8rem;
  float: right;
  margin-top: 38px;
}

@media screen and (max-width: 1100px) {
  .timeline .modal-window .work-window__header--date {
    font-size: 1.6rem;
    margin-top: 27px;
  }
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__header--date {
    margin-top: 23px;
  }
}

@media screen and (max-width: 500px) {
  .timeline .modal-window .work-window__header--date {
    margin-top: 17px;
  }
}

.timeline .modal-window .work-window__body {
  padding: 0 50px 50px;
  /* Slideshow container */
  /* The dots/bullets/indicators */
}

@media screen and (max-width: 1100px) {
  .timeline .modal-window .work-window__body {
    padding: 0 40px 40px;
  }
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__body {
    padding: 0 30px 30px;
  }
}

@media screen and (max-width: 500px) {
  .timeline .modal-window .work-window__body {
    padding: 0 22.5px 22.5px;
  }
}

.timeline .modal-window .work-window__body--description {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--primary-white);
  letter-spacing: 0.5px;
  text-transform: none;
  line-height: 2.25rem;
  display: block;
  margin-top: 25px;
}

@media screen and (max-width: 1100px) {
  .timeline .modal-window .work-window__body--description {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__body--description {
    margin-top: 15px;
    letter-spacing: 0.3px;
  }
}

.timeline .modal-window .work-window__body .slideshow-container {
  max-width: 100%;
  position: relative;
  text-align: center;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
}

.timeline .modal-window .work-window__body .slideshow-container .slide, .timeline .modal-window .work-window__body .slideshow-container .slide1, .timeline .modal-window .work-window__body .slideshow-container .slide2, .timeline .modal-window .work-window__body .slideshow-container .slide3, .timeline .modal-window .work-window__body .slideshow-container .slide4, .timeline .modal-window .work-window__body .slideshow-container .slide5, .timeline .modal-window .work-window__body .slideshow-container .slide6 {
  display: none;
  margin: 35px auto 35px;
  /* Number text (1/3 etc) */
  /* Caption text */
  /* image displayed */
}

@media screen and (max-width: 1100px) {
  .timeline .modal-window .work-window__body .slideshow-container .slide, .timeline .modal-window .work-window__body .slideshow-container .slide1, .timeline .modal-window .work-window__body .slideshow-container .slide2, .timeline .modal-window .work-window__body .slideshow-container .slide3, .timeline .modal-window .work-window__body .slideshow-container .slide4, .timeline .modal-window .work-window__body .slideshow-container .slide5, .timeline .modal-window .work-window__body .slideshow-container .slide6 {
    margin: 30px auto 30px;
  }
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__body .slideshow-container .slide, .timeline .modal-window .work-window__body .slideshow-container .slide1, .timeline .modal-window .work-window__body .slideshow-container .slide2, .timeline .modal-window .work-window__body .slideshow-container .slide3, .timeline .modal-window .work-window__body .slideshow-container .slide4, .timeline .modal-window .work-window__body .slideshow-container .slide5, .timeline .modal-window .work-window__body .slideshow-container .slide6 {
    margin: 20px auto 20px;
  }
}

.timeline .modal-window .work-window__body .slideshow-container .slide--number, .timeline .modal-window .work-window__body .slideshow-container .slide--text, .timeline .modal-window .work-window__body .slideshow-container .slide1--number, .timeline .modal-window .work-window__body .slideshow-container .slide1--text, .timeline .modal-window .work-window__body .slideshow-container .slide2--number, .timeline .modal-window .work-window__body .slideshow-container .slide2--text, .timeline .modal-window .work-window__body .slideshow-container .slide3--number, .timeline .modal-window .work-window__body .slideshow-container .slide3--text, .timeline .modal-window .work-window__body .slideshow-container .slide4--number, .timeline .modal-window .work-window__body .slideshow-container .slide4--text, .timeline .modal-window .work-window__body .slideshow-container .slide5--number, .timeline .modal-window .work-window__body .slideshow-container .slide5--text, .timeline .modal-window .work-window__body .slideshow-container .slide6--number, .timeline .modal-window .work-window__body .slideshow-container .slide6--text {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--primary-white);
  letter-spacing: 0.8px;
  text-transform: none;
  margin-top: 25px;
  position: absolute;
  top: 100%;
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__body .slideshow-container .slide--number, .timeline .modal-window .work-window__body .slideshow-container .slide--text, .timeline .modal-window .work-window__body .slideshow-container .slide1--number, .timeline .modal-window .work-window__body .slideshow-container .slide1--text, .timeline .modal-window .work-window__body .slideshow-container .slide2--number, .timeline .modal-window .work-window__body .slideshow-container .slide2--text, .timeline .modal-window .work-window__body .slideshow-container .slide3--number, .timeline .modal-window .work-window__body .slideshow-container .slide3--text, .timeline .modal-window .work-window__body .slideshow-container .slide4--number, .timeline .modal-window .work-window__body .slideshow-container .slide4--text, .timeline .modal-window .work-window__body .slideshow-container .slide5--number, .timeline .modal-window .work-window__body .slideshow-container .slide5--text, .timeline .modal-window .work-window__body .slideshow-container .slide6--number, .timeline .modal-window .work-window__body .slideshow-container .slide6--text {
    top: 0%;
    margin-top: 0;
  }
}

.timeline .modal-window .work-window__body .slideshow-container .slide--number, .timeline .modal-window .work-window__body .slideshow-container .slide1--number, .timeline .modal-window .work-window__body .slideshow-container .slide2--number, .timeline .modal-window .work-window__body .slideshow-container .slide3--number, .timeline .modal-window .work-window__body .slideshow-container .slide4--number, .timeline .modal-window .work-window__body .slideshow-container .slide5--number, .timeline .modal-window .work-window__body .slideshow-container .slide6--number {
  left: 0;
}

.timeline .modal-window .work-window__body .slideshow-container .slide--text, .timeline .modal-window .work-window__body .slideshow-container .slide1--text, .timeline .modal-window .work-window__body .slideshow-container .slide2--text, .timeline .modal-window .work-window__body .slideshow-container .slide3--text, .timeline .modal-window .work-window__body .slideshow-container .slide4--text, .timeline .modal-window .work-window__body .slideshow-container .slide5--text, .timeline .modal-window .work-window__body .slideshow-container .slide6--text {
  right: 0;
}

.timeline .modal-window .work-window__body .slideshow-container .slide img, .timeline .modal-window .work-window__body .slideshow-container .slide1 img, .timeline .modal-window .work-window__body .slideshow-container .slide2 img, .timeline .modal-window .work-window__body .slideshow-container .slide3 img, .timeline .modal-window .work-window__body .slideshow-container .slide4 img, .timeline .modal-window .work-window__body .slideshow-container .slide5 img, .timeline .modal-window .work-window__body .slideshow-container .slide6 img {
  max-width: 90%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 5px 2px var(--shadow-black);
          box-shadow: 0px 0px 5px 2px var(--shadow-black);
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__body .slideshow-container .slide img, .timeline .modal-window .work-window__body .slideshow-container .slide1 img, .timeline .modal-window .work-window__body .slideshow-container .slide2 img, .timeline .modal-window .work-window__body .slideshow-container .slide3 img, .timeline .modal-window .work-window__body .slideshow-container .slide4 img, .timeline .modal-window .work-window__body .slideshow-container .slide5 img, .timeline .modal-window .work-window__body .slideshow-container .slide6 img {
    max-width: 90%;
    margin: 45px auto 0;
    -webkit-box-shadow: 0px 0px 5px 2px var(--shadow-black);
            box-shadow: 0px 0px 5px 2px var(--shadow-black);
  }
}

.timeline .modal-window .work-window__body .slideshow-container .prev, .timeline .modal-window .work-window__body .slideshow-container .next {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-white);
  letter-spacing: none;
  text-transform: none;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.7;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.timeline .modal-window .work-window__body .slideshow-container .prev:hover, .timeline .modal-window .work-window__body .slideshow-container .next:hover {
  background: var(--primary-orange);
}

@media screen and (max-width: 767px) {
  .timeline .modal-window .work-window__body .slideshow-container .prev, .timeline .modal-window .work-window__body .slideshow-container .next {
    margin-top: 0;
  }
}

.timeline .modal-window .work-window__body .slideshow-container .next {
  right: 0;
}

.timeline .modal-window .work-window__body .slideshow-container .prev {
  left: 0;
}

.timeline .modal-window .work-window__body .dot {
  width: 10px;
  height: 10px;
  margin: 0 2.5px 0;
  background: var(--primary-white);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.timeline .modal-window .work-window__body .active, .timeline .modal-window .work-window__body .dot:hover {
  background-color: var(--primary-orange);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

/* ========== CONTACT PAGE ========== */
.contact-page {
  /* ----- contact box ----- */
}

.contact-page .contact__field {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18px;
}

.contact-page .contact__field--input, .contact-page .contact__field--textarea {
  width: 525px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-black-2);
  letter-spacing: none;
  text-transform: none;
  padding: 22.5px 20px;
  background-color: var(--primary-gray);
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact-page .contact__field--input:focus + .contact__field--line, .contact-page .contact__field--textarea:focus + .contact__field--line {
  width: 525px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media screen and (max-width: 767px) {
  .contact-page .contact__field--input, .contact-page .contact__field--textarea {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 22.5px 20px;
  }
  .contact-page .contact__field--input:focus + .contact__field--line, .contact-page .contact__field--textarea:focus + .contact__field--line {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .contact-page .contact__field--input, .contact-page .contact__field--textarea {
    padding: 17.5px 15px;
  }
}

.contact-page .contact__field--textarea {
  height: 250px;
  resize: none;
}

.contact-page .contact__field--line {
  width: 0;
  height: 1px;
  display: block;
  background-color: var(--primary-black-1);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-bottom: 18px;
}

@media screen and (max-width: 500px) {
  .contact-page .contact__field--line {
    margin-bottom: 10px;
  }
}

.contact-page .contact__field [type="submit"] {
  width: 125px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-white);
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 45px;
  margin-left: 20px;
  padding-left: 5px;
  text-align: left;
  cursor: pointer;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contact-page .contact__field [type="submit"]::before {
  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
  top: -37.5%;
  left: -20px;
  border-radius: 55px;
  background-color: var(--second-black-2);
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-page .contact__field [type="submit"]:hover::before, .contact-page .contact__field [type="submit"]:active::before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 150px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ========== FOOTER ========== */
footer {
  min-height: 50vh;
  /* ----- footer area ----- */
}

@media screen and (max-width: 767px) {
  footer {
    min-height: 500px;
  }
}

footer .footer-section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  footer .footer-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-section__contact, footer .footer-section__informations {
  text-align: left;
  width: 45%;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--second-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  footer .footer-section__contact, footer .footer-section__informations {
    width: 100%;
  }
}

footer .footer-section__contact h1, footer .footer-section__informations h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-white);
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  footer .footer-section__contact h1, footer .footer-section__informations h1 {
    margin-bottom: 0px;
  }
}

footer .footer-section__contact .information, footer .footer-section__contact .contact-sentence, footer .footer-section__informations .information, footer .footer-section__informations .contact-sentence {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  footer .footer-section__contact .information, footer .footer-section__contact .contact-sentence, footer .footer-section__informations .information, footer .footer-section__informations .contact-sentence {
    margin-top: 12.5px;
  }
}

footer .footer-section__contact .information:not(.contact-sentence)::after, footer .footer-section__contact .contact-sentence:not(.contact-sentence)::after, footer .footer-section__informations .information:not(.contact-sentence)::after, footer .footer-section__informations .contact-sentence:not(.contact-sentence)::after {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  margin-top: 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: var(--primary-white);
}

footer .footer-section__contact .information:hover::after, footer .footer-section__contact .information:active::after, footer .footer-section__contact .contact-sentence:hover::after, footer .footer-section__contact .contact-sentence:active::after, footer .footer-section__informations .information:hover::after, footer .footer-section__informations .information:active::after, footer .footer-section__informations .contact-sentence:hover::after, footer .footer-section__informations .contact-sentence:active::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

footer .footer-section__contact span, footer .footer-section__informations span {
  color: var(--second-gray);
}

footer .footer-section__contact span:hover:not(.contact-sentence), footer .footer-section__informations span:hover:not(.contact-sentence) {
  color: var(--primary-white);
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

footer .footer-section__contact .container-icons, footer .footer-section__informations .container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

footer .footer-section__contact .container-icons .icons, footer .footer-section__informations .container-icons .icons {
  margin-top: 45px;
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
  footer .footer-section__contact .container-icons .icons, footer .footer-section__informations .container-icons .icons {
    margin-top: 30px;
  }
}

footer .footer-section__contact .container-icons i, footer .footer-section__informations .container-icons i {
  color: var(--second-gray);
  font-size: 2.5rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

footer .footer-section__contact .container-icons i:hover, footer .footer-section__informations .container-icons i:hover {
  color: var(--primary-white);
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

@media screen and (max-width: 767px) {
  footer .footer-section__contact {
    margin-top: 25px;
  }
  footer .footer-section__informations {
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  footer .footer-section__contact {
    margin-top: 15px;
  }
  footer .footer-section__informations {
    margin-top: 40px;
  }
}

/* ============================== */
/* ========== END CODE ========== */
/* ============================== */
/*# sourceMappingURL=style.css.map */