@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&family=Prata&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@font-face {
  font-family: "Segoe UI";
  src: url("../font/Segoe UI/segoeuisl.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../font/Segoe UI/segoeui.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../font/Segoe UI/seguisb.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../font/Segoe UI/segoeuib.ttf") format("truetype");
  font-weight: 700;
}

/* =============== COLORS =============== */
:root {
  --material-color: #272628;
  --background-color: #1F1E1D;
  --selection-color: #DEE1E6;
  --font-color: #ffffff;
  --border-color: #312D3C;
  --input-color: #201C29;
  --placeholder-color: #909090;
  --orange-pure: #F84525;
  --pink-pure: #E52F6F;
  --shadow-color: #000000;
}

:root {
  --background-dark: #1F1E1D;
  --background-light: #fff;
  --font-dark: #111111;
  --font-light: #fff;
  --material-color: #272628;
  --material-lighter: #323135;
  --material-grey: #9C9C9C;
  --orange-pure: #F84525;
  --shadow-dark: #000000;
  --shadow-light: #cecece;
  --light-grey: #F2F2F2;
}

/* Fading animation */
.fade {
  -webkit-animation-name: apparition;
  -webkit-animation-duration: 1.25s;
  animation-name: apparition;
  animation-duration: 1.25s;
}

/* =============== ANIMATIONS =============== */
@-webkit-keyframes apparition {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDownIn {
  from {
    visibility: hidden;
    opacity: 0.2;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDownIn {
  from {
    visibility: hidden;
    opacity: 0.2;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-left-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide-left-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes work-appear {
  from {
    -webkit-transform: scale(0.85) translate(0, -100%);
            transform: scale(0.85) translate(0, -100%);
  }
  to {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@keyframes work-appear {
  from {
    -webkit-transform: scale(0.85) translate(0, -100%);
            transform: scale(0.85) translate(0, -100%);
  }
  to {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes progress-bar-load {
  from {
    width: 0;
  }
}

@keyframes progress-bar-load {
  from {
    width: 0;
  }
}

@-webkit-keyframes progress-bar-slide {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes progress-bar-slide {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 100%;
  }
}

@-webkit-keyframes logo-load {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@keyframes logo-load {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@-webkit-keyframes logo-mobile-load {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes logo-mobile-load {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@-webkit-keyframes jumpHover {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes jumpHover {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

/* =============== MIXINS =============== */
/* width */
::-webkit-scrollbar {
  width: 5px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pink-pure);
  display: none;
}

/* =============== MAIN CODE =============== */
* {
  font-family: "Segoe UI";
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--selection-color);
}

*::selection {
  background-color: var(--selection-color);
}

* img {
  max-width: 100%;
}

* a {
  color: var(--font-light);
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px */
  scroll-behavior: smooth;
  /* scrollbar smooth */
  overflow-x: hidden;
}

body {
  -webkit-animation: apparition 1s linear 0s forwards;
          animation: apparition 1s linear 0s forwards;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.dark-page {
  background-color: var(--background-dark);
  color: var(--font-light);
}

.light-page {
  background-color: var(--background-light);
  color: var(--font-dark);
}

/* ----------- FIXED HEADER ----------- */
/* ----- List menu ----- */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 7.5%;
  right: 3.5%;
  z-index: 100;
}

.menu .menu--text {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--font-color);
  margin-right: 50px;
  cursor: pointer;
}

.menu .menu--text::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: var(--orange-pure);
  background-color: var(--font-light);
}

.menu .menu--text:hover::after {
  width: 100%;
  height: 1px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

/* hamburger icon and mobile menu not displayed */
.hamburger-icon, .mobile-menu, .logo-mobile {
  display: none;
}

/* ----------- PROGRESS BAR ----------- */
#progress {
  width: 4px;
  height: 0px;
  max-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--font-dark);
  background-color: var(--orange-pure);
  z-index: 50;
}

/* ----------- ARROW MOVE TO TOP ----------- */
#arrow-up {
  position: fixed;
  bottom: 3.5%;
  right: 5%;
  z-index: 50;
}

#arrow-up i {
  font-size: 3.5rem;
  color: var(--orange-pure);
  text-shadow: 1px 1px var(--shadow-color);
}

.about-page, .skills-page, .works-page, .contact-page, footer {
  padding: 7.5%;
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.about-page .about-section, .about-page .skills-section, .about-page .works-section, .about-page .contact-section, .about-page .footer-section, .skills-page .about-section, .skills-page .skills-section, .skills-page .works-section, .skills-page .contact-section, .skills-page .footer-section, .works-page .about-section, .works-page .skills-section, .works-page .works-section, .works-page .contact-section, .works-page .footer-section, .contact-page .about-section, .contact-page .skills-section, .contact-page .works-section, .contact-page .contact-section, .contact-page .footer-section, footer .about-section, footer .skills-section, footer .works-section, footer .contact-section, footer .footer-section {
  margin: auto;
  padding: 5%;
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.about-page .skills-section, .about-page .works-section, .about-page .contact-section, .about-page .footer-section, .skills-page .skills-section, .skills-page .works-section, .skills-page .contact-section, .skills-page .footer-section, .works-page .skills-section, .works-page .works-section, .works-page .contact-section, .works-page .footer-section, .contact-page .skills-section, .contact-page .works-section, .contact-page .contact-section, .contact-page .footer-section, footer .skills-section, footer .works-section, footer .contact-section, footer .footer-section {
  padding: 0 5%;
}

.about-page h1, .skills-page h1, .works-page h1, .contact-page h1, footer h1 {
  font-size: 4.75rem;
  -webkit-animation: slideDownIn 0.5s ease-out 0s forwards;
          animation: slideDownIn 0.5s ease-out 0s forwards;
}

.about-page h2, .skills-page h2, .works-page h2, .contact-page h2, footer h2 {
  font-size: 2rem;
  font-weight: 400;
  display: block;
  margin-top: 15px;
  -webkit-animation: slideDownIn 0.5s ease-out 0.05s forwards;
          animation: slideDownIn 0.5s ease-out 0.05s forwards;
}

/* ----------- ABOUT PAGE ----------- */
.about-section {
  overflow: hidden;
  /* ----- name area ----- */
  /* ----- presentation area ----- */
  /* ----- description area ----- */
}

.about-section::before {
  content: "";
  position: absolute;
  left: 41%;
  top: -20%;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  display: block;
  border: 3px solid var(--material-color);
}

.about-section .m-decoration, .about-section .t-decoration {
  position: absolute;
  left: 55%;
  top: 50%;
  display: block;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 50rem;
  color: var(--material-color);
}

.about-section .m-decoration {
  -webkit-transform: translate(0, -90%);
          transform: translate(0, -90%);
}

.about-section .t-decoration {
  -webkit-transform: translate(20%, -10%);
          transform: translate(20%, -10%);
}

.about-section .title-name {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--orange-pure);
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about-section .presentation h1 {
  font-size: 7.2rem;
  line-height: 9rem;
  -webkit-animation: slideDownIn 0.5s ease-out 0s forwards;
          animation: slideDownIn 0.5s ease-out 0s forwards;
}

.about-section .description {
  margin-top: 50px;
  max-width: 50%;
  position: relative;
}

.about-section .description p {
  font-size: 2rem;
  line-height: 3.2rem;
  -webkit-animation: slideDownIn 0.5s ease-out 0.2s forwards;
          animation: slideDownIn 0.5s ease-out 0.2s forwards;
}

.about-section .description a {
  width: 260px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 3.2rem;
  display: block;
  margin-top: 45px;
  margin-left: 22.5px;
  -webkit-animation: slideDownIn 0.5s ease-out 0.4s forwards;
          animation: slideDownIn 0.5s ease-out 0.4s forwards;
}

.about-section .description a::before {
  content: "";
  position: absolute;
  top: -37.5%;
  left: -22.5px;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background-color: var(--material-lighter);
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-section .description a:hover::before {
  width: 285px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ----------- SKILLS PAGE ----------- */
.skills-box {
  margin-top: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 650px) {
  .skills-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills-box .skill {
  width: 45%;
  margin-bottom: 45px;
  padding: 0px;
}

@media all and (max-width: 650px) {
  .skills-box .skill {
    width: 100%;
  }
}

.skills-box .skill h2 {
  font-weight: normal;
  font-size: 2.0rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
}

.skills-box .skill__progress-bar {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 1px var(--shadow-light);
          box-shadow: 0px 0px 5px 1px var(--shadow-light);
}

.skills-box .skill__progress-bar h3 {
  position: absolute;
  bottom: 170%;
  right: 0%;
  font-size: 1.8rem;
}

.skills-box .skill__progress-bar .skill-bar {
  position: absolute;
  height: 25px;
  background: var(--material-color);
  border-radius: 3px;
  z-index: 2;
  -webkit-animation: progress-bar-load 1.5s ease 0s forwards;
          animation: progress-bar-load 1.5s ease 0s forwards;
  -webkit-box-shadow: 0px 0px 5px 1px var(--shadow-light);
          box-shadow: 0px 0px 5px 1px var(--shadow-light);
  overflow: hidden;
}

.skills-box .skill__progress-bar .skill-bar::after {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--material-color)), to(var(--orange-pure)));
  background: linear-gradient(to right, var(--material-color), var(--orange-pure));
  -webkit-animation: progress-bar-slide 3s linear 0s infinite;
          animation: progress-bar-slide 3s linear 0s infinite;
}

/* ----------- WORKS PAGE ----------- */
/* ----- timeline area ----- */
.timeline {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* ----- work box ----- */
}

@media all and (max-width: 767px) {
  .timeline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.timeline__box {
  margin: 5% 0;
  width: 45%;
  background-color: var(--material-color);
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  -webkit-box-shadow: 0px 0px 5px 2px var(--shadow-dark);
          box-shadow: 0px 0px 5px 2px var(--shadow-dark);
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .timeline__box {
    width: 100%;
  }
}

.timeline__box::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.timeline__box:hover {
  background: linear-gradient(135deg, var(--orange-pure), var(--pink-pure));
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.timeline__box--content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeline__box--content img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  max-height: 85px;
  max-width: 150px;
}

.timeline__box--content h1 {
  font-size: 2.25rem;
  display: block;
  margin-top: 10px;
  font-weight: 500;
  color: var(--font-light);
  -webkit-animation: none;
          animation: none;
}

.timeline .modal-window {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75);
  /* Black w/ opacity */
  /* Modal Content */
}

.timeline .modal-window .work-window {
  margin: auto;
  background-color: var(--background-color);
  margin: auto auto;
  width: 75%;
  max-height: 95%;
  text-align: left;
  -webkit-animation: work-appear 0.4s ease-out 0s;
          animation: work-appear 0.4s ease-out 0s;
  overflow-y: auto;
}

.timeline .modal-window .work-window__header {
  padding: 50px 50px 0;
}

.timeline .modal-window .work-window__header--title {
  font-size: 5rem;
  font-weight: 700;
  color: var(--font-light);
  -webkit-animation: none;
          animation: none;
}

.timeline .modal-window .work-window__header--subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--orange-pure);
  text-shadow: none;
  display: block;
  margin: 10px 0 15px;
  -webkit-animation: none;
          animation: none;
}

.timeline .modal-window .work-window__header--language {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--font-light);
  background-color: var(--material-lighter);
  border-radius: 4px;
  padding: 5px 8px;
  margin-top: 3px;
  margin-right: 5px;
}

.timeline .modal-window .work-window__header--date {
  font-size: 1.8rem;
  float: right;
  margin-top: 25px;
}

.timeline .modal-window .work-window__body {
  padding: 0 50px 50px;
  /* Slideshow container */
  /* The dots/bullets/indicators */
}

.timeline .modal-window .work-window__body--description {
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.5px;
  display: block;
  margin-top: 25px;
}

.timeline .modal-window .work-window__body .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 50px auto 20px;
  text-align: center;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
}

.timeline .modal-window .work-window__body .slideshow-container .slide, .timeline .modal-window .work-window__body .slideshow-container .slide1, .timeline .modal-window .work-window__body .slideshow-container .slide2, .timeline .modal-window .work-window__body .slideshow-container .slide3, .timeline .modal-window .work-window__body .slideshow-container .slide4, .timeline .modal-window .work-window__body .slideshow-container .slide5 {
  display: none;
  /* Number text (1/3 etc) */
  /* Caption text */
  /* image displayed */
}

.timeline .modal-window .work-window__body .slideshow-container .slide--number, .timeline .modal-window .work-window__body .slideshow-container .slide--text, .timeline .modal-window .work-window__body .slideshow-container .slide1--number, .timeline .modal-window .work-window__body .slideshow-container .slide1--text, .timeline .modal-window .work-window__body .slideshow-container .slide2--number, .timeline .modal-window .work-window__body .slideshow-container .slide2--text, .timeline .modal-window .work-window__body .slideshow-container .slide3--number, .timeline .modal-window .work-window__body .slideshow-container .slide3--text, .timeline .modal-window .work-window__body .slideshow-container .slide4--number, .timeline .modal-window .work-window__body .slideshow-container .slide4--text, .timeline .modal-window .work-window__body .slideshow-container .slide5--number, .timeline .modal-window .work-window__body .slideshow-container .slide5--text {
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  padding: 20px 0px;
  position: absolute;
  top: 101%;
}

.timeline .modal-window .work-window__body .slideshow-container .slide--number, .timeline .modal-window .work-window__body .slideshow-container .slide1--number, .timeline .modal-window .work-window__body .slideshow-container .slide2--number, .timeline .modal-window .work-window__body .slideshow-container .slide3--number, .timeline .modal-window .work-window__body .slideshow-container .slide4--number, .timeline .modal-window .work-window__body .slideshow-container .slide5--number {
  left: 0;
}

.timeline .modal-window .work-window__body .slideshow-container .slide--text, .timeline .modal-window .work-window__body .slideshow-container .slide1--text, .timeline .modal-window .work-window__body .slideshow-container .slide2--text, .timeline .modal-window .work-window__body .slideshow-container .slide3--text, .timeline .modal-window .work-window__body .slideshow-container .slide4--text, .timeline .modal-window .work-window__body .slideshow-container .slide5--text {
  right: 0;
}

.timeline .modal-window .work-window__body .slideshow-container .slide img, .timeline .modal-window .work-window__body .slideshow-container .slide1 img, .timeline .modal-window .work-window__body .slideshow-container .slide2 img, .timeline .modal-window .work-window__body .slideshow-container .slide3 img, .timeline .modal-window .work-window__body .slideshow-container .slide4 img, .timeline .modal-window .work-window__body .slideshow-container .slide5 img {
  max-width: 90%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 5px 2px var(--shadow-color);
          box-shadow: 0px 0px 5px 2px var(--shadow-color);
}

.timeline .modal-window .work-window__body .slideshow-container .prev, .timeline .modal-window .work-window__body .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  color: var(--font-color);
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.7;
}

.timeline .modal-window .work-window__body .slideshow-container .next {
  right: 0;
}

.timeline .modal-window .work-window__body .slideshow-container .next:hover {
  background: var(--orange-pure);
}

.timeline .modal-window .work-window__body .slideshow-container .prev {
  left: 0;
}

.timeline .modal-window .work-window__body .slideshow-container .prev:hover {
  background: var(--pink-pure);
}

.timeline .modal-window .work-window__body .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 15px 2.5px 0;
  background: var(--font-color);
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.timeline .modal-window .work-window__body .active, .timeline .modal-window .work-window__body .dot:hover {
  background: linear-gradient(135deg, var(--orange-pure), var(--pink-pure));
}

/* ----------- CONTACT PAGE ----------- */
.contact-page {
  /* ----- contact box ----- */
}

.contact-page .contact__field {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.contact-page .contact__field--input, .contact-page .contact__field--textarea {
  width: 525px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 22.5px 20px;
  background-color: var(--light-grey);
  color: var(--font-dark);
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-animation: slideDownIn 0.5s ease-out 0.2s forwards;
          animation: slideDownIn 0.5s ease-out 0.2s forwards;
}

.contact-page .contact__field--input:focus + .contact__field--line, .contact-page .contact__field--textarea:focus + .contact__field--line {
  width: 525px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.contact-page .contact__field--textarea {
  height: 250px;
  resize: none;
}

.contact-page .contact__field--line {
  width: 0;
  display: block;
  height: 1px;
  background-color: var(--background-color);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-bottom: 18px;
}

.contact-page .contact__field [type="submit"] {
  width: 150px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 3.2rem;
  color: var(--font-light);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 45px;
  margin-left: 20px;
  padding-left: 5px;
  text-align: left;
  -webkit-animation: slideDownIn 0.5s ease-out 0.4s forwards;
          animation: slideDownIn 0.5s ease-out 0.4s forwards;
}

.contact-page .contact__field [type="submit"]::before {
  content: "";
  position: absolute;
  top: -37.5%;
  left: -20px;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background-color: var(--material-lighter);
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-page .contact__field [type="submit"]:hover::before {
  width: 150px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ----------- FOOTER ----------- */
footer {
  min-height: 50vh;
  /* ----- footer area ----- */
}

footer .footer-section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-section__contact, footer .footer-section__informations {
  text-align: left;
  width: 45%;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--material-grey);
}

footer .footer-section__contact h1, footer .footer-section__informations h1 {
  color: var(--font-light);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}

footer .footer-section__contact span, footer .footer-section__informations span {
  display: block;
  margin-top: 20px;
  color: var(--material-grey);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

footer .footer-section__contact span:hover, footer .footer-section__informations span:hover {
  color: var(--font-light);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

footer .footer-section__contact i, footer .footer-section__informations i {
  color: var(--material-grey);
  font-size: 2.5rem;
  margin-top: 45px;
  margin-right: 25px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

footer .footer-section__contact i:hover, footer .footer-section__informations i:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  color: var(--font-light);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

/* =============== MEDIA QUERIES =============== */
@media all and (max-width: 1100px) {
  .about-section::before, .about-section .m-decoration, .about-section .t-decoration {
    display: none;
  }
  .about-section .presentation h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
  .about-section .description p {
    font-size: 1.85rem;
  }
  .about-section .description a {
    margin-top: 55px;
  }
  .skills-page, .works-page, .contact-page {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  /* Modal Content */
  .timeline .modal-window .work-window {
    width: 90%;
    max-height: 80%;
  }
  .timeline .modal-window .work-window__header {
    padding: 45px 45px 0px;
  }
  .timeline .modal-window .work-window__header--title {
    font-size: 4rem;
  }
  .timeline .modal-window .work-window__header--subtitle {
    font-size: 1.5rem;
  }
  .timeline .modal-window .work-window__header--date {
    font-size: 1.6rem;
  }
  .timeline .modal-window .work-window__body {
    padding: 0 45px 45px;
    /* Slideshow container */
  }
  .timeline .modal-window .work-window__body--description {
    font-size: 1.5rem;
  }
  .timeline .modal-window .work-window__body .slideshow-container {
    margin: 30px auto 20px;
  }
}

@media all and (max-width: 767px) {
  .about-section .title-name {
    font-size: 1.5rem;
    letter-spacing: 3.5px;
    margin-bottom: 45px;
  }
  .about-section .presentation h1 {
    font-size: 4rem;
    line-height: 5.5rem;
  }
  .about-section .description {
    margin-top: 40px;
    max-width: 85%;
  }
  .about-section .description p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .skills-page, .works-page, .contact-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .skills-page h1, .works-page h1, .contact-page h1 {
    font-size: 3.5rem;
  }
  .skills-page h2, .works-page h2, .contact-page h2 {
    font-size: 1.7rem;
  }
  .skills-box .skill h2 {
    font-size: 1.75rem;
  }
  .skills-box .skill__progress-bar {
    height: 20px;
  }
  .skills-box .skill__progress-bar .skill-bar {
    height: 20px;
  }
  .timeline .timeline__box--content h1 {
    font-size: 2.1rem;
  }
  /* Modal Content */
  .timeline .modal-window .work-window {
    width: 97.5%;
    max-height: 80%;
  }
  .timeline .modal-window .work-window__header {
    padding: 35px 35px 0px;
  }
  .timeline .modal-window .work-window__header--title {
    font-size: 3.5rem;
  }
  .timeline .modal-window .work-window__header--date {
    margin-top: 20px;
  }
  .timeline .modal-window .work-window__body {
    padding: 0 35px 35px;
  }
  .timeline .modal-window .work-window__body--description {
    letter-spacing: 0.3px;
  }
  .timeline .modal-window .work-window__body .dot {
    margin: 10px 2.5px 0;
  }
  /* ----- contact box ----- */
  .contact-page .contact__field {
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-page .contact__field--input, .contact-page .contact__field--textarea {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 22.5px 20px;
  }
  .contact-page .contact__field--input:focus + .contact__field--line, .contact-page .contact__field--textarea:focus + .contact__field--line {
    width: 100%;
  }
  footer {
    min-height: 500px;
    /* ----- footer area ----- */
  }
  footer .footer-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-section__contact, footer .footer-section__informations {
    width: 100%;
  }
  footer .footer-section__contact h1, footer .footer-section__informations h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  footer .footer-section__contact span, footer .footer-section__informations span {
    margin-top: 12.5px;
  }
  footer .footer-section__contact i, footer .footer-section__informations i {
    margin-top: 30px;
  }
  footer .footer-section__contact {
    margin-top: 25px;
  }
  footer .footer-section__informations {
    margin-top: 50px;
  }
}

@media all and (max-width: 500px) {
  .about-page, .skills-page, .works-page, .contact-page, footer {
    padding: 5%;
  }
  .about-section {
    padding: 0;
  }
  .about-section .title-name {
    font-size: 1.4rem;
  }
  .about-section .presentation h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
  .skills-page, .works-page, .contact-page {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills-page h1, .works-page h1, .contact-page h1 {
    font-size: 3rem;
  }
  .skills-page h2, .works-page h2, .contact-page h2 {
    font-size: 1.5rem;
  }
  .timeline .timeline__box--content h1 {
    font-size: 1.9rem;
  }
  /* Modal Content */
  .timeline .modal-window .work-window {
    width: 99.5%;
    max-height: 75%;
  }
  .timeline .modal-window .work-window__header {
    padding: 22.5px 22.5px 0px;
  }
  .timeline .modal-window .work-window__header--title {
    font-size: 3rem;
  }
  .timeline .modal-window .work-window__header--date {
    margin-top: 18.5px;
  }
  .timeline .modal-window .work-window__body {
    padding: 0 22.5px 22.5px;
  }
  /* ----- contact box ----- */
  .contact-page .contact__field--input, .contact-page .contact__field--textarea {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 17.5px 15px;
  }
  .contact-page .contact__field--line {
    margin-bottom: 10px;
  }
  footer {
    /* ----- footer area ----- */
  }
  footer .footer-section__contact {
    margin-top: 15px;
  }
  footer .footer-section__informations {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */