$color-header: #000000;
$color-menu: #258EDE;

$color-element-menu: #FFFFFF;
$color-nom-prenom: #FFFFFF;

$color-block-timeline: #258EDE;

$color-box-langue: #258EDE;
$color-box-hover: #28A8EA;
$color-text-menu-hover: #28A8EA;

$color-footer: #000000;
$color-footer-text: #F1F1F1;

@font-face {
    font-family: 'KoHo';
    src: url('../docs/font/KoHo/KoHo-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'KoHo';
    font-weight: bold;
    src: url('../docs/font/KoHo/KoHo-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'KoHo';
    font-weight: 600;
    src: url('../docs/font/KoHo/KoHo-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'KoHo';
    font-style: italic;
    src: url('../docs/font/KoHo/KoHo-Italic.ttf') format('truetype'),
}


* {
    font-family: "KoHo", "Arial";
    padding: 0;
    margin: 0;
    // text-align: center;
}

html {
    font-size: 62.5%;
}

body {
    background: url("../images/background/background.jpg") fixed top;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

header {
    width: auto;
    height: 260px;
    background-color: $color-header;
    text-align: center;
    padding: 25px;
    opacity: 1;
    .block-header {
        &__image-profil {
            width: 150px;
            height: 150px;
            margin: auto;
            padding: 15px;
        }
        &__nom-prenom {
            font-size: 3rem;
            color: $color-nom-prenom;
        }
        &__description {
            font-size: 2rem;
            color: $color-nom-prenom;
        }
    }
}

.menu {
    font-size: 1.5rem;
    padding: 15px; margin: 0;
    background-color: $color-menu;
    text-align: center;
    & a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        color: $color-element-menu;
    }
    &__link {
        display: inline;
        list-style: none;
        padding: 15px;
        cursor: pointer;
        &:hover {
            background-color: $color-header;
            color: $color-text-menu-hover;
            transition: 0.5s;
        }
    }
}

.block-page {
    max-width: 1100px;
    margin: auto;
    margin-top: 25px;
    background-color: $color-element-menu;
    opacity: 0.95;
    margin-bottom: 50px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px lightgrey;
    .block-a-propos, .block-formation, .block-competence, .block-experience, .block-contact, .block-me-retrouver {
        height: auto;
        border-bottom: 1px solid lightgray;
        padding: 5%;
    }

    .block-a-propos {
        // text-align: center;
        &__titre {
            color: $color-box-langue;
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            padding: 25px;
            img {
                width: 40%;
                height: 40%;
                margin-left: 15%;
            }
            p {
                // margin: 25px;
                font-size: 1.5rem;
                width: 30rem;
            }
        }
    }

    .block-formation {
        background-color: $color-header;
        &__title {
            color: red;
            margin-bottom: 5%;
        }
        .timeline {
            height: auto;
            width: 70%;
            margin: auto;
            .block-timeline-left, .block-timeline-right {
                width: 275px;
                height: 110px;
                position: relative;
                background-color: $color-block-timeline;
                margin: 2%;
                z-index: 1;
                transition: 1s ease;
                &::before, &::after {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-style: solid;
                    z-index: 1;
                }
                &::before {
                    margin-left: -30px;
                    border-width: 55px 30px 55px 0;
                    border-color: transparent $color-block-timeline transparent transparent;
                }
                &::after {
                    margin-left: 100%;
                    border-width: 55px 0 55px 30px;
                    border-color: transparent transparent transparent $color-block-timeline;
                }
                &__annee, &__school, &__content, &__logo {
                    position: absolute;
                    color: $color-element-menu;
                    text-align: center;
                }
                &__annee {
                    width: 180px;
                    font-size: 2.2rem;
                    margin-left: 2%;
                    margin-top: 2%;
                    // background-color: green;
                }
                &__logo {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: #FFFFFF;
                    margin-left: 70%;
                    margin-top: 5.5%;
                }
                &__school {
                    width: 180px;
                    font-size: 1.3rem;
                    font-weight: 600;
                    margin-top: 12%;
                    margin-left: 2%;
                    // background-color: red;
                }
                &__content {
                    width: 180px;
                    font-size: 1.2rem;
                    margin-top: 24%;
                    margin-left: 2%;
                    // background-color: red;
                }
                &__branch {
                    &-top {
                        position: absolute;
                        height: 8px;
                        width: 75px;
                        margin-top: 7%;
                        background-color: #C0C0C0;
                    }
                    &-bot {
                        position: absolute;
                        height: 8px;
                        width: 75px;
                        margin-top: 30%;
                        background-color: #C0C0C0;
                    }
                }
                &__mid-branch {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: $color-block-timeline;
                    margin-top: 15%;
                    z-index: 3;
                }
                &:hover {
                    transition: all 0.3s;
                    filter: invert(100%) brightness(300%) grayscale(100%);
                    cursor: pointer;
                }
            }
            .block-timeline-left {
                &__branch {
                    &-top {
                        margin-left: 115%;
                        transform: rotate(65deg);
                    }
                    &-bot {
                        margin-left: 115%;
                        transform: rotate(-65deg);
                    }
                }
                &__mid-branch {
                    margin-left: 128%;
                }
            }
            .block-timeline-right {
                margin-left: 59%;
                &__branch {
                    &-top {
                        margin-left: -39%;
                        transform: rotate(-65deg);
                    }
                    &-bot {
                        margin-left: -39%;
                        transform: rotate(65deg);
                    }
                }
                &__mid-branch {
                    margin-left: -34%;
                }
            }
        }
    }
    
    .block-competence {
        margin: auto;
        &__titre, &__titre-langue, &__titre-technique {
            text-align: center;
            text-decoration: underline;
            font-size: 22px;
        }
        &__block-langue, &__block-technique {
            display: flex;
            flex-wrap: wrap;
            padding-left: 7%;
            div {
                position: relative;
                display: block;
                width: 215px;
                height: 45px;
                background-color: $color-header;
                margin: 15px;
                padding: 20px;
                border-radius: 4px 4px 4px 4px;
                box-shadow: 2px 2px 2px #0051A3;
                color: $color-nom-prenom;
                overflow: hidden;
                transition: 1s all ease;
                z-index: 1;
                img {
                    width: 52px;
                    height: 52px;
                    float: left;
                    margin-left: 5px;
                    margin-right: 25px;
                    z-index: 2;
                }
                strong {
                    font-size: 1.9rem;
                    font-weight: 600;
                    line-height: 25px;
                    z-index: 2;
                }
                span {
                    font-size: 1.4rem;
                    // font-weight: 600;
                    margin-top: 15px;
                    line-height: 25px;
                    z-index: 2;
                }
            }
            div::before {
                content: '';
                background: $color-box-langue;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.4s ease;
                width: 120%;
                height: 0%;
                transform: translate(-50%, -50%) rotate(25deg);
                z-index: -1;
            }
            div:hover::before {
                height: 250%;
            }
        }
    }

    .block-experience {
        background-color: $color-header;
        &__title {
            color: green;
            margin-bottom: 3%;
        }
        .timeline-experience {
            background-color: lightgrey;
            .panel-experience-left {
                width: 350px;
                height: 200px;
                background-color: red;
            }
        }
    }

    .block-contact {
        text-align: center;
        &__titre {
            font-size: 2.5rem;
            margin-bottom: 25px;
        }
        &__input {
            margin: auto;
            width: 400px;
            display: flex;
            flex-direction: column;
            [name="input-nom"], [name="input-email"], [name="input-message"], [value="Envoyer"] {
                width: auto;
                font-size: 1.9rem;
                margin-bottom: 12px;
            }
            [name="input-nom"], [name="input-email"] {
                height: 15px;
                padding: 12px;
                border-radius: 5px 5px 5px 5px;
            }
            [name="input-message"] {
                height: 150px;
                padding: 12px;
                border-radius: 5px 5px 5px 5px;
            }
            [value="Envoyer"] {
                height: 50px;
                border-radius: 25px 25px 25px 25px;
                margin-left: 50px;
                margin-right: 50px;
                background-color: $color-nom-prenom;
                &:hover {
                    background-color: $color-box-hover;
                    cursor: pointer;
                }
            }
        }
    }

    .block-me-retrouver {
        text-align: center;
        &__titre {
            font-size: 20px;
        }
        &__social-media {
            // display: flex;
            // flex-wrap: wrap;
            text-align: center;
            & img {
                width: 70px;
                height: 70px;
                border-radius: 5px 5px 5px 5px;
                margin: 25px;
                cursor: pointer;
            }
        }
    }
}

@media all and (max-width: 1024px) {
    #block-page {
        width: auto;
    }
}

footer {
    height: 60px;
    text-align: center;
    background-color: $color-footer;
    color: $color-footer-text;
    box-shadow: 2px 2px 2px #0051A3;
    padding: 40px;
}