// =============== FONTS =============== //

@font-face {
    font-family: 'KoHo';
    src: url('../docs/font/KoHo/KoHo-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'KoHo';
    font-weight: bold;
    src: url('../docs/font/KoHo/KoHo-Bold.ttf') format('truetype'),
}
@font-face {
    font-family: 'KoHo';
    font-weight: 600;
    src: url('../docs/font/KoHo/KoHo-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'KoHo';
    font-style: italic;
    src: url('../docs/font/KoHo/KoHo-Italic.ttf') format('truetype'),
}
@font-face {
    font-family: 'Raleway';
    src: url('../docs/font/Raleway/Raleway-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Raleway';
    font-style: 600;
    src: url('../docs/font/Raleway/Raleway-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Teko';
    src: url('../docs/font/Teko/Teko-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Cairo';
    font-weight: normal;
    src: url('../docs/font/Cairo/Cairo-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Cairo';
    font-weight: 600;
    src: url('../docs/font/Cairo/Cairo-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Saira';
    font-weight: normal;
    src: url('../docs/font/Saira/SairaCondensed-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'PTSans';
    font-weight: normal;
    src: url('../docs/font/PTSans/PTSans-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Titillium';
    font-weight: normal;
    src: url('../docs/font/Titillium/TitilliumWeb-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../docs/font/Poppins/Poppins-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Poppins';
    font-weight: medium;
    src: url('../docs/font/Poppins/Poppins-Medium.ttf') format('truetype'),
}

// =============== COLORS =============== //

// backgrounds
$dark-grey: #100E17;
$grey-bg: #17141D;

// selection text
$selection-grey: #DEE1E6;

// font color
$light-white: #f5f5f5;

// border inputs
$grey-border: #312D3C;

// background inputs
$grey-input: #201C29;

// marked text
$color-marked-text: #F24848;

// placeholder color
$color-placeholder: #909090;

// others
$orange-pure: #FF5711;
$pink-pure: #E52F6F;

$color-bg-light: #f5f5f5;
$color-border-light: #455A64;

.light-mode {
    background-color: $color-bg-light;
    color: $grey-bg;
    transition: 0.6s all ease;
}

/* Fading animation */
.fade {
    -webkit-animation-name: apparition;
    -webkit-animation-duration: 1.25s;
    animation-name: apparition;
    animation-duration: 1.25s;
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}

// =============== ANIMATIONS =============== //

@keyframes apparition {
    from {
        opacity: 0.25;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1800deg);
    }
}

// =============== MIXINS =============== //

@mixin gradient-background {
    background: linear-gradient(135deg, $orange-pure,$pink-pure);
}

@mixin jumpAnimation($distance) {
    transform: translateY($distance);
    transition: 0.4s all ease;
}

@keyframes animatetop {
    from {top: -50px; opacity:0}
    to {top:0; opacity:1}
}

@mixin text-gradient {
    background: linear-gradient(135deg, $orange-pure,$pink-pure);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @include gradient-background;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $pink-pure; 
}

// =============== MAIN CODE =============== //

* {
    font-family: "Titillium", "Source", "Cairo", "PTSans", "Saira", "KoHo", "Arial";
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    &::selection {
        background-color: $selection-grey;
    }
    img {
        max-width: 100%;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $grey-bg;
    color: $light-white;
    animation: apparition 1s linear 0s forwards;
}

h1 {
    font-family: 'Teko';
}

.about-page, .skills-page, .works-page, .contact-page {
    padding: 8% 10% 5%;
}

.skills-page, .works-page, .contact-page {
    text-align: center;
    position: relative;
    // title pages
    h1 {
        font-size: 4rem;
    }
    // sentence subtitle
    h2 {
        font-family: 'Saira';
        font-size: 1.9rem;
        font-weight: normal;
        display: block;
        margin-top: 15px;
    }
}


// ----------- FIXED HEADER ----------- //
header {
    width: 100%;
    background-color: $dark-grey;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    img {
        position: absolute;
        width: 50px;
        margin-top: 10px;
        left: 10%;

        &:hover {
            cursor: pointer;
            animation: rotate 10s linear infinite;
        }
    }
    // ----- List menu ----- //
    .menu {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
        padding: 17px;

        &--text {
            font-family: 'Poppins', 'Titillium', 'Raleway';
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: medium;
            color: $light-white;
            margin-right: 20px;
            margin-left: 20px;
            &:hover {
                color: $pink-pure;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }

    .hamburger-icon {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
}

// ----------- PROGRESS BAR ----------- //
#progress{
	@include gradient-background;
	height: 8px;
	position: fixed;
	top: 61px;
	left: 0;
	z-index: 50;
}

// ----------- ABOUT PAGE ----------- //
.about-page {

    // ----- presentation area ----- //
    .presentation {
        h1, h2 {
            font-family: 'Teko', 'Poppins', 'Titillium';
            color: $orange-pure;
        }
        h1 {
            font-size: 6.0rem;
        }
        h2 {
            font-size: 4.2rem;
            font-weight: medium, 600;
            @include text-gradient;
        }
        // contact icons
        img {
            filter: invert(100%);
            width: 40px;
            margin-top: 20px;
            margin-right: 25px;
            border-radius: 3px;
            &:hover {
                @include jumpAnimation(-5px);
            }
        }           
    }

    // ----- description area ----- //
    .description {
        margin-top: 5%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        &--text {
            font-weight: normal;
            font-size: 2.0rem;
            line-height: 4.0rem;
            margin-bottom: 5%;
            text-align: justify;
            a {
                color: $orange-pure;
                font-weight: 600;
            }
        }
        // profile pic
        img {
            width: 25%;
            height: 25%;
            max-width: 370px;
            min-width: 300px;
            margin: auto;
        }

        // limit of scaling image
        @media screen and (min-width: 1267px) {
            div {
                max-width: 55%;
            }
            img {
                max-width: 375px;
                margin: 0 0 5% 15%;
            }
        }
    }
}

// ----------- SKILLS PAGE ----------- //
.skills-page {

    // ----- skills area ----- //
    .skills-box {
        margin-top: 2.5%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        // box skill with progress bar
        .skill {
            width: 35%;
            min-width: 300px;
            padding: 0px;
            margin: 20px 25px 20px;
            text-align: left;
            // language
            h2 {
                font-weight: normal;
                font-size: 2.25rem;
            }

            &__progress-bar {
                width: 100%;
                height: 20px;
                background-color: $grey-border;
                margin-top: 10px;
                position: relative;
                border-radius: 3px;
                // percent
                h3 {
                    position: absolute;
                    bottom: 170%;
                    left: 92.5%;
                    font-size: 1.8rem;
                }
                // progress bar inside
                .skill-bar {
                    position: absolute;
                    // width defined in skill.js
                    height: 20px;
                    @include gradient-background;
                    border-radius: 3px;
                    z-index: 2;
                }
            }
        }
    }
}

// ----------- WORKS PAGE ----------- //
.works-page {

    // ----- timeline area ----- //
    .timeline {
        margin-top: 2.5%;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        // ----- work box ----- //
        &__box {
            margin: 2.5%;
            width: 300px;
            height: 300px;
            background-color: $dark-grey;
            border-radius: 5px;
            border: none;
            transition: 0.5s all ease-out;
            border: 1px solid $grey-border;
            filter: brightness(95%);

            &:hover {
                @include gradient-background;
                @include jumpAnimation(-5px);
                transition: 0.4s all ease;
                cursor: pointer;
            }

            // icon work box
            img {
                filter: invert(100%);
                position: relative;
                width: 85px;
                margin: auto;
            }
            // title work box
            h1 {
                font-size: 2.25rem;
                display: block;
                margin-top: 5px;
                color: $light-white;
            }
        }
        // modal work window displayed when click button
        .modal-window {
            display: none;
            position: fixed;
            z-index: 10000;
            padding-top: 8vh; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: hidden; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.75); /* Black w/ opacity */

            
            /* Modal Content */
            .work-window {
                position: relative;
                background-color: $dark-grey;
                margin: auto auto;
                width: 60%;
                max-height: 85%;
                border-radius: 5px;
                border: 1px solid $grey-border;
                text-align: left;
                animation: animatetop 0.6s;
                overflow-y: auto;

                &__header {
                    padding: 30px 40px 10px;
                    
                    &--title {
                        font-size: 4.0rem;
                        font-family: 'Teko', 'Poppins', 'Titillium';
                        color: $orange-pure;
                    }
                    &--subtitle {
                        font-family: 'Saira';
                        font-size: 3rem;
                        font-weight: 600;
                        filter: invert(100%);
                        display: block;
                        margin-top: 0px;
                        margin-bottom: 10px;
                        @include text-gradient;
                    }
                    &--language {
                        font-size: 1.6rem;
                        color: $pink-pure;
                        font-weight: 600;
                    }
                    &--date {
                        font-family: 'Saira';
                        font-size: 2.0rem;
                        position: absolute;
                        right: 40px;
                        top: 50px;
                    }
                }

                &__body {
                    margin: 0 40px 40px;

                    &--description {
                        font-size: 1.5rem;
                        text-align: justify;
                        display: block;
                        margin-top: 25px;
                    }
                    
                    * {box-sizing:border-box}

                    /* Slideshow container */
                    .slideshow-container {
                        max-width: 100%;
                        position: relative;
                        margin: 35px auto 20px;
                        text-align: center;

                        /* Hide the images by default */
                        .slide, .slide1, .slide2, .slide3, .slide4, .slide5  {
                            display: none;

                            /* Number text (1/3 etc) */
                            &--number {
                                font-family: "Saira", "Teko";
                                font-weight: 600;
                                font-size: 1.7rem;
                                padding: 8px 0px;
                                position: absolute;
                                top: 101%;
                                left: 0;
                                @include text-gradient;
                            }

                            /* Caption text */
                            &--text {
                                font-family: "Saira", "Teko";
                                font-weight: 600;
                                font-size: 1.8rem;
                                padding: 8px 0px;
                                position: absolute;
                                top: 101%;
                                right: 0;
                                text-align: center;
                                @include text-gradient;
                            }
                            img {
                                max-width: 90%;
                                margin: auto;
                            }
                        }

                        /* Next & previous buttons */
                        .prev, .next {
                            cursor: pointer;
                            position: absolute;
                            top: 50%;
                            width: auto;
                            margin-top: -22px;
                            padding: 15px;
                            color: $light-white;                         
                            font-weight: bold;
                            font-size: 18px;
                            transition: 0.5s ease;
                            border-radius: 3px;
                            user-select: none;
                            opacity: 0.7;
                        }

                        /* Position the "next button" to the right */
                        .next {
                            right: 0;
                        }

                        .prev {
                            left: 0;
                        }

                        /* On hover, add a black background color with a little bit see-through */
                        .prev:hover {
                            background: $orange-pure;
                        }

                        .next:hover {
                            background: $pink-pure;
                        }
                    }

                    /* The dots/bullets/indicators */
                    .dot {
                        cursor: pointer;
                        height: 12.5px;
                        width: 12.5px;
                        margin: 0 2.5px;
                        background: $light-white;
                        border-radius: 50%;
                        display: inline-block;
                        transition: 0.5s ease;
                    }

                    .active, .dot:hover {
                        @include gradient-background();
                    }
                }
            }
        }
    }

    @media all and (min-width: 768px) and (max-width: 1280px) {
        .timeline {
            
            .modal-window {
                padding-top: 12vh;

                /* Modal Content */
                .work-window {
                    width: 80%;
                    max-height: 80%;
                }
            }
        }
    }

    @media all and (min-width: 480px) and (max-width: 767px) {
        .timeline {
            padding-left: 5%;
            padding-right: 5%;
            // modal work window displayed when click button
            .modal-window {
                padding-top: 15vh;

                /* Modal Content */
                .work-window {
                    width: 90%;

                    &__header {
                        padding: 30px 30px 10px;
                        
                        &--title {
                            font-size: 3.2rem;
                        }
                        &--subtitle {
                            font-size: 2.3rem;  
                        }
                        &--language {
                            font-size: 1.6rem;
                            color: $pink-pure;
                            font-weight: 600;
                        }
                        &--date {
                            font-size: 2rem;
                            position: absolute;
                            top: 45px;
                            right: 30px;
                        }
                    }

                    &__body {
                        margin: 0 30px 40px;
                        &--description {
                            font-size: 1.5rem;
                            margin-top: 15px;
                        }
                        /* Slideshow container */
                        .slideshow-container {
                            margin: 30px auto 20px;

                            /* Hide the images by default */
                            .slide {
    
                                /* Number text (1/3 etc) */
                                &--number {
                                    font-size: 1.6rem;
                                }

                                /* Caption text */
                                &--text {
                                    font-size: 1.6rem;
                                }
                            }
                        }

                        /* The dots/bullets/indicators */
                        .dot {
                            height: 10px;
                            width: 10px;
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width: 479px) {
        .timeline {
            padding-left: 0;
            padding-right: 0;
            
            // modal work window displayed when click button
            .modal-window {
                padding-top: 25%;

                /* Modal Content */
                .work-window {
                    width: 98%;

                    &__header {
                        padding: 15px 15px 10px;
                        
                        &--title {
                            font-size: 2.4rem;
                        }
                        &--subtitle {
                            font-size: 1.8rem;  
                        }
                        &--language {
                            font-size: 1.5rem;
                            color: $pink-pure;
                            font-weight: 600;
                        }
                        &--date {
                            font-size: 1.5rem;
                            position: absolute;
                            top: 25px;
                            right: 15px;
                        }
                    }

                    &__body {
                        margin: 0 15px 15px;
                        &--description {
                            font-size: 1.3rem;
                            margin-top: 0px;
                        }
                        /* Slideshow container */
                        .slideshow-container {
                            margin: 25px auto 20px;

                            /* Hide the images by default */
                            .slide {
    
                                /* Number text (1/3 etc) */
                                &--number {
                                    font-size: 1.4rem;
                                }

                                /* Caption text */
                                &--text {
                                    font-size: 1.4rem;
                                }
                            }
                        }

                        /* The dots/bullets/indicators */
                        .dot {
                            height: 7.5px;
                            width: 7.5px;
                        }
                    }
                }
            }
        }
    }
}

// ----------- CONTACT PAGE ----------- //
.contact-page {

    // ----- contact box ----- //
    .contact__field {
        margin: auto;
        margin-top: 2.5%;
        padding: 35px;
        width: 385px;
        background-color: $dark-grey;
        color: $light-white;
        border-radius: 5px;
        border: 1px solid $grey-border;

        &--input, &--textarea {
            font-size: 1.8rem;
            padding: 10px;
            border-radius: 5px;
            background-color: $grey-input;
            color: $light-white;
            border: 2px solid $grey-border;
            box-shadow: none;
            margin-bottom: 4%;
            width: 94%;

            &::placeholder {
                color: $color-placeholder;
            }
            &:focus {
                outline: none !important;
                border: 2px solid $pink-pure;
            }
        }

        &--textarea {
            height: 200px;
        }

        // button send
        [type="submit"] {
            font-family: "Raleway", "Cairo";
            font-size: 2.0rem;
            padding: 15px;
            width: 225px;
            font-weight: 600;
            background-color: $selection-grey;
            color: $grey-bg;
            border-radius: 5px;
            border: none;
            
            &:hover {
                cursor: pointer;
                @include gradient-background;
                color: $light-white;
                transition: 0.4s all ease;
            }
        }
        p {
            font-size: 1.5rem;
            color: #4CFF4C;
            display: block;
            margin-top: 5%;
        }
    }
}

// ----------- FOOTER ----------- //
footer {
    margin-top: 5%;
    background-color: $dark-grey;
    padding: 5% 20% 5%;

    h1 {
        font-size: 3rem;
    }

    // ----- footer area ----- //
    .field-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__contact, &__informations {
            text-align: left;
            width: 46%;
            min-width: 300px;
            font-size: 1.8rem;
            color: $light-white;
            padding-left: 4%;
        }

        // ----- contact area ----- //
        &__contact {
            // icon contact
            img {
                filter: invert(100%);
                width: 40px;
                margin: 50px 20px 25px 0;
                &:hover {
                    @include jumpAnimation(-5px);
                }
            }
        }

        // ----- informations area ----- //
        &__informations {
            // icon contact
            img {
                filter: invert(100%);
                width: 25px;
                float: left;
                margin-right: 25px;
                display: block;
                &:hover {
                    @include jumpAnimation(-5px);
                }
            }
            // line of information
            span {
                display: block;
            }
        }
    }

    // made by ...
    em {
        font-size: 1.6rem;
        font-style: normal;
        color: $light-white;
        text-align: center;
        margin-top: 5%;
        display: block;
    }
}

// =============== MEDIA QUERIES =============== //

// tablet
@media screen and (max-device-width: 767px) {
    
    header {
        height: 55px;

        img {
            display: none;
        }

        // hamburger icon (change on click)
        .hamburger-icon {
            cursor: pointer;
            position: absolute;
            top: 10px;
            left: 5%;
            display: block;
            

            .bar1, .bar2, .bar3 {
                width: 30px;
                height: 3px;
                @include gradient-background;
                margin-top: 7px;
                border-radius: 2px;
                transition: 0.4s;
            }
        }
        .change .bar1 {
            -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
        }
        
        .change .bar2 {opacity: 0;}
        
        .change .bar3 {
            -webkit-transform: rotate(-45deg) translate(7px, -7px);
            transform: rotate(-45deg) translate(7px, -7px);
        }

        // ----- List menu ----- //
        .menu {
            display: none;
        }
        // ----- mobile menu ----- //
        .mobile-menu {
            display: none;
            position: fixed;
            top: 55px;
            left: 0;
            right: 0;
            text-align: left;
            animation: apparition 0.3s linear 0s forwards;

            .menu-display {
                background: $dark-grey;
                list-style-type: none;
                display: flex;
                flex-direction: column;

                &--text {
                    // display: none;
                    width: 100%;
                    padding: 16px;
                    font-size: 2rem;
                    text-decoration: none;
                    color: $light-white;
                    margin-left: 10px;
                }
            }
        }
    }

    #progress {
        height: 5px;
        top: 55px;
    }


    .about-page, .skills-page, .works-page, .contact-page {
        padding: 50px 5% 45px;
    }

    .about-page {
        padding-top: 100px;
    }

    .works-page {
        h2 {
            // display: block;
            margin-bottom: 35px;
        }
    }

    .about-page {
        // block description
        .description {
            margin-top: 25px;
            &--text {
                font-size: 1.9rem;
                line-height: 3rem;
            }
            img {
                margin-top: 25px;
            }
        }
    }


    .contact-page {
        .contact__field {
            padding: 20px 15px 20px;
            margin-top: 25px;
            width: auto;
            max-width: 360px;
            &--input, &--textarea {
                width: 92%;
                font-size: 1.8rem;
                padding: 7.5px;
                border-radius: 3px;
            }
            &--textarea {
                height: 175px;
            }
            [type="submit"] {
                font-size: 1.8rem;
                padding: 15px;
                width: 200px;
            }
        }
    }

    footer {
        padding: 10% 5% 10%;
        h1 {
            font-size: 2.85rem;
        }
        .field-footer {
            &__contact, &__informations {
                font-size: 1.7rem;
                min-width: 100%;
            }
            &__contact {
                img {
                    width: 35px;
                    margin: 25px 20px 25px 0;
                }  
            }
            &__informations {
                img {
                    width: 17.5px;
                    margin-top: 5px;
                }
            }
        }
    }
}


// mobile
@media all and (max-device-width: 500px) {

    .about-page, .skills-page, .works-page, .contact-page {
        padding: 50px 5% 25px;
    }

    .about-page {
        padding-top: 75px;
    }

    .works-page, .skills-page {
        h2 {
            margin-bottom: 35px;
        }
    }

    .about-page {
        .presentation {
            h1 {
                font-size: 5.0rem;
            }
            h2 {
                font-size: 3.5rem;
            }
            // contact icons
            img {
                margin-top: 15px;
                width: 30px;
            }  
        }
        // block description
        .description {
            margin-top: 25px;
            &--text {
                font-size: 1.75rem;
                line-height: 2.5rem;
            }
            img {
                margin-top: 25px;
            }
        }
    }

    .skills-page {
        h2 {
            display: block;
            margin-bottom: 0px;
        }
    }

    .contact-page {
        .contact__field {
            width: auto;
            max-width: 300px;
            &--input, &--textarea {
                font-size: 1.5rem;
            }
        }
    }

    footer {
        h1 {
            font-size: 2.5rem;
        }
        .field-footer {
            &__contact, &__informations {
                font-size: 1.5rem;
            }
        }
    }
}