@font-face {
    font-family: 'KoHo';
    src: url('../docs/font/KoHo/KoHo-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'KoHo';
    font-weight: bold;
    src: url('../docs/font/KoHo/KoHo-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'KoHo';
    font-weight: 600;
    src: url('../docs/font/KoHo/KoHo-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'KoHo';
    font-style: italic;
    src: url('../docs/font/KoHo/KoHo-Italic.ttf') format('truetype'),
}

@font-face {
    font-family: 'Raleway';
    src: url('../docs/font/Raleway/Raleway-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Raleway';
    font-style: 600;
    src: url('../docs/font/Raleway/Raleway-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Teko';
    src: url('../docs/font/Teko/Teko-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Cairo';
    font-weight: normal;
    src: url('../docs/font/Cairo/Cairo-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Cairo';
    font-weight: 600;
    src: url('../docs/font/Cairo/Cairo-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Saira';
    font-weight: normal;
    src: url('../docs/font/Saira/SairaCondensed-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'PTSans';
    font-weight: normal;
    src: url('../docs/font/PTSans/PTSans-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Titillium';
    font-weight: normal;
    src: url('../docs/font/Titillium/TitilliumWeb-Regular.ttf') format('truetype'),
}

// backgrounds
$dark-grey: #100E17;
$grey-bg: #17141D;

// selection text
$selection-grey: #DEE1E6;

// font color
$light-white: #f5f5f5;

// border inputs
$grey-border: #312D3C;

// background inputs
$grey-input: #201C29;

// marked text
$color-marked-text: #F24848;

// placeholder color
$color-placeholder: #909090;

// others
$orange-pure: #FF5711;
$pink-pure: #E52F6F;
$pink-gradient: #E6336A;

// ===== ANIMATIONS =====

@keyframes apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1800deg);
    }
}

@keyframes jumpHover {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, -7.5px);
    }
}

@keyframes grow {
    from {
        font-size: 2.0rem; padding: 15px; width: 225px;
    }
    to {
        font-size: 2.3rem; padding: 18px; width: 250px;
    }
}

// ===== MAIN CODE =====

* {
    font-family: "Titillium", "Source", "Cairo", "PTSans", "Saira", "KoHo", "Arial";
    padding: 0;
    margin: 0;
    text-decoration: none;
    &::selection {
        background-color: $selection-grey;
    }
}

html {
    font-size: 62.5%;
}

body {
    background-color: $grey-bg;
    color: $light-white;
    animation: apparition 1s linear 0s forwards;
}

h1 {
    font-family: 'Teko';
}

header {
    width: 100%;
    background-color: $dark-grey;
    text-align: right;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.4s;
    z-index: 100;

    img {
        position: absolute;
        width: 50px;
        margin-top: 10px;
        left: 10%;

        &:hover {
            cursor: pointer;
            animation: rotate 10s linear infinite;
        }
    }

    &::after {
        content: "";
        background: linear-gradient(135deg, $orange-pure,#E52F6F);
        position: fixed;
        top: 65px;
        height: 10px;
        width: 100%;
        z-index: 100;
        display: block;
    }
    
    .menu {
        list-style-type: none;
        display: inline-flex;
        margin-right: 10%;
        padding: 2px;

        &--text {
            font-family: 'Titillium', 'Raleway';
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 600;
            color: whitesmoke;
            margin: 10px;
            padding: 10px;
            border-radius: 3px;
            &:hover {
                background-color: $dark-grey;
                // color: $dark-grey;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }
}

.about-page, .contact-page, .works-page, .skills-page {
    padding: 10%;
    padding-top: 7.5%;
    padding-bottom: 5%;
}

.about-page {

    // block presentation
    .presentation {
        h1, h2 {
            font-family: 'Titillium';
            background: linear-gradient($orange-pure,#E52F6F);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h1 {
            font-size: 6.0rem;
        }
        h2 {
            font-size: 4.2rem;
            font-weight: 600;
        }
        // contact icons
        img {
            filter: invert(100%);
            width: 45px;
            margin-top: 20px;
            margin-left: 0;
            margin-right: 25px;
            border-radius: 3px;
        }           
    }

    // block description
    .description {
        padding-top: 5%;

        div {
            max-width: 100%;
        }
        
        &--text {
            font-weight: normal;
            font-size: 2.1rem;
            line-height: 4.0rem;
            margin-top: 2%;
            margin-bottom: 4%;
            text-align: justify;
            a {
                color: $orange-pure;
            }
        }

        img {
            width: 25%;
            height: 25%;
            max-width: 525px;
            float: right;
            margin-top: 2%;
            margin-left: 10%;
            margin-bottom: 5%;
        }
    }
}

.skills-page, .works-page, .contact-page {
    // not displayed in the main page
    // display: none;
    text-align: center;
    position: relative;

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-family: 'Saira';
        font-size: 1.9rem;
        font-weight: normal;
        display: block;
        margin-top: 15px;
    }

    &::before {
        content: "";
        width: 100%;
        height: 1px;
        background: linear-gradient(135deg, $orange-pure,#E52F6F);
        z-index: 10;
        position: absolute;
        left: 0;
        margin-top: -5%;
    }
}

.skills-page {

    .skills-box {
        margin-top: 2.5%;
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
        flex-wrap: wrap;

        .skill {
            width: 376px;
            // background-color: $grey-input;
            padding: 20px;
            margin: 20px;
            margin-bottom: 0px;
            margin-top: 5px;
            text-align: left;

            h2 {
                font-weight: normal;
                font-size: 2.0rem;
            }

            &__progress-bar {
                width: 100%;
                height: 20px;
                background-color: $grey-border;
                margin-top: 10px;
                position: relative;
                border-radius: 3px;

                // progress bar inside the main bar
                &::before {
                    content: "";
                    position: absolute;
                    width: 80%;
                    height: 20px;
                    background: linear-gradient(135deg, $orange-pure,#E52F6F);
                    border-radius: 3px;
                    z-index: 2;
                }
            }
        }
    }
}

.works-page {

    .timeline {
        margin-top: 2.5%;
        // background-color: $dark-grey;
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
        flex-wrap: wrap;
        &__box {
            // width: 30%;
            width: 265px;
            height: 265px;
            background-color: $dark-grey;
            border-radius: 5px;
            display: block;
            margin: 2%;
            &:hover {
                animation: jumpHover 0.3s forwards;
                cursor: pointer;
            }

            img {
                filter: invert(100%);
                position: relative;
                width: 85px;
                margin: auto;
                top: 32.5%;
            }
        }
        
    }

}

.contact-page {
    
    .contact__field {
        margin: auto;
        margin-top: 2.5%;
        padding: 3.5%;
        width: 400px;
        background-color: $dark-grey;
        color: $light-white;
        border-radius: 5px;

        &--input, &--textarea {
            font-size: 2.0rem;
            padding: 10px;
            border-radius: 5px;
            background-color: $grey-input;
            color: $light-white;
            border: 2px solid $grey-border;
            box-shadow: none;
            margin-bottom: 4%;
            width: 375px;

            &::placeholder {
                color: $color-placeholder;
            }
            &:focus {
                outline: none !important;
                border: 2px solid $pink-pure;
            }
        }
        &--textarea {
            height: 200px;
        }
        [type="submit"] {
            font-family: "Raleway", "Cairo";
            font-size: 2.0rem;
            padding: 15px;
            width: 225px;
            font-weight: 600;
            background: linear-gradient(135deg, $pink-gradient, $orange-pure);
            color: $light-white;
            border-radius: 5px;
            border: none;
            
            &:hover {
                cursor: pointer;
                animation: grow 1s forwards;
            }
        }
        p {
            font-size: 1.5rem;
            color: #4CFF4C;
            display: block;
            margin-top: 5%;
        }
    }
}

footer {
    margin-top: 5%;
    background-color: $dark-grey;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;

    h1 {
        font-size: 3rem;
    }

    .field-footer {
        display: flex;
        flex-wrap: wrap;

        &__contact, &__informations {
            width: 49%;
            min-width: 370px;
            font-size: 1.8rem;
            text-align: left;
            color: $light-white;
            padding-left: 1%;
            // background-color: $color-placeholder;
        }

        &__contact {

            img {
                filter: invert(100%);
                width: 45px;
                margin-top: 50px;
                margin-right: 20px;
                margin-bottom: 25px;
            }
        }

        &__informations {

            img {
                filter: invert(100%);
                width: 25px;
                float: left;
                margin-right: 25px;
            }

            span {
                display: block;
            }
        }


    }

    em {
        font-size: 2.0rem;
        font-style: normal;;
        color: $light-white;
        margin: auto;
        margin-top: 5%;
        display: block;
    }
}

